<div id="<%= dom_id patient %>">
  <p>
    <strong>Full name:</strong>
    <%= patient.full_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= patient.weight %>
  </p>

  <p>
    <strong>Allergies:</strong>
    <%= patient.allergies %>
  </p>

  <p>
    <strong>Medications:</strong>
    <%= patient.medications %>
  </p>

</div>
